#page_header {
	letter-spacing: .025em;
	line-height: 1.42857;
	font-family: Meiryo, "\30E1\30A4\30EA\30AA", Arial, sans-serif;
	font-size: 10px;
	text-align: left;
	word-break: break-word;
	color: #333;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}

#page_header *,
#page_header *::before,
#page_header *::after {
	box-sizing: border-box;
}

#page_header p {
	margin: 0;
	padding: 0;
}

#page_header ul {
	margin: 0;
	padding: 0;
}

#page_header ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#page_header a {
	text-decoration: none;
	color: #125687;
	background-color: transparent;
}

#page_header a:hover,
#page_header a:focus,
#page_header a:active {
	text-decoration: underline;
}

#page_header a:hover img,
#page_header a:focus img,
#page_header a:active img {
	opacity: .7;
}

#page_header a:not([href]):not([tabindex]) {
	text-decoration: none;
	color: inherit;
}

#page_header a:not([href]):not([tabindex]):hover,
#page_header a:not([href]):not([tabindex]):focus,
#page_header a:not([href]):not([tabindex]):active {
	text-decoration: none;
	color: inherit;
}

#page_header a:not([href]):not([tabindex]):focus {
	outline: 0;
}

#page_header img {
	max-width: 100%;
	vertical-align: middle;
}

#page_header b {
	font-weight: bold;
}

#page_header em {
	font-weight: bold;
	font-style: normal;
}

#page_header button {
	font-family: inherit;
	font-size: inherit;
	padding: 0;
	border: 0;
	border-radius: 0;
	background: none;
}

#page_header button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

#page_header button::-moz-focus-inner,
#page_header [type="button"]::-moz-focus-inner,
#page_header [type="reset"]::-moz-focus-inner,
#page_header [type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

#page_header a,
#page_header button {
	touch-action: manipulation;
}

#page_header [hidden] {
	display: none;
}

#page_header [tabindex="-1"]:focus {
	outline: none;
}

#page_header .icon_window {
	width: 13px;
	height: auto;
	margin-left: 5px;
	vertical-align: middle;
	image-rendering: -webkit-optimize-contrast;
}

#page_header div,
#page_header p,
#page_header ul,
#page_header ol {
	font-size: inherit;
}

#page_header .link::before,
#page_header .link_02::before {
	display: none;
}

#page_header {
	margin: 0 0 8px 0;
}

#page_header .str_segment {
	background: #fff;
	min-width: 970px;
}

#page_header .str_outer {
	max-width: 1140px;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
}

#page_header > *:only-child {
	border-bottom: 1px solid #e5e5e5;
}

#page_header .str_segment.-simple_header .str_inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	padding: 10px 0 14px;
}

#page_header .str_segment.-simple_header .site_id a {
	display: inline-block;
}

#page_header .str_segment.-simple_header .site_id img {
	width: 194px;
	image-rendering: -webkit-optimize-contrast;
}

#page_header .str_segment.-simple_header .site_utility {
	font-size: 1.3em;
	margin-left: auto;
	margin-right: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
}

#page_header .str_segment.-simple_header .site_utility > ul:last-child > li:last-child {
	padding-right: 0;
}

#page_header .str_segment.-simple_header .site_utility > ul:last-child > li:last-child a {
	padding-right: 0;
}

#page_header .str_segment.-simple_header .site_utility.-faq {
	margin-top: -18px;
}

#page_header .str_segment.-simple_header .site_utility .nav {
	display: table;
}

#page_header .str_segment.-simple_header .site_utility .nav li {
	display: table-cell;
	vertical-align: middle;
}

#page_header .str_segment.-simple_header .site_utility .nav li.jtb__member--status_login {
	display: none;
}

body.jtb__member--status_login #page_header .str_segment.-simple_header .site_utility .nav li.jtb__member--status_login {
	display: table-cell;
	padding-right: 11px;
}

body.jtb__member--status_login #page_header .str_segment.-simple_header .site_utility .nav li.jtb__member--status_login a {
	padding: 0;
}

body.jtb__member--status_login #page_header .str_segment.-simple_header .site_utility .nav li.jtb__member--status_login a:before {
	background: none;
}

body.jtb__member--status_login #page_header .str_segment.-simple_header .site_utility .nav li.jtb__member--status_logout {
	display: none;
}

#page_header .str_segment.-simple_header .site_utility .nav li a {
	display: inline-block;
	padding: 0 11px;
}

#page_header .str_segment.-simple_header .site_utility .nav li a:hover,
#page_header .str_segment.-simple_header .site_utility .nav li a:focus,
#page_header .str_segment.-simple_header .site_utility .nav li a:active {
	color: #cc0d21;
}

#page_header .str_segment.-simple_header .site_utility .nav li + li a {
	position: relative;
}

#page_header .str_segment.-simple_header .site_utility .nav li + li a:first-child::before {
	content: "";
	display: block;
	position: absolute;
	width: 1px;
	height: 1em;
	background: #ccc;
	left: 0;
	bottom: 50%;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
}

#page_header .str_segment.-simple_header .site_utility .btn {
	display: table;
}

#page_header .str_segment.-simple_header .site_utility .btn li {
	display: table-cell;
	vertical-align: middle;
	padding: 0 5px;
	background: none;
	font-size: 100%;
}

#page_header .str_segment.-simple_header .site_utility .btn a {
	display: block;
	border: 1px solid #90adc1;
	border-radius: 4px;
	color: #333;
	padding: 5px 14px 4px 12px !important;
	min-width: 120px;
}

#page_header .str_segment.-simple_header .site_utility .btn a:hover,
#page_header .str_segment.-simple_header .site_utility .btn a:focus,
#page_header .str_segment.-simple_header .site_utility .btn a:active {
	color: #cc0d21;
}

#page_header .str_segment.-simple_header .site_utility .btn a span {
	display: inline-block;
	position: relative;
	padding-left: 26px;
}

#page_header .str_segment.-simple_header .site_utility .btn a span::before {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
	bottom: 50%;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
}

#page_header .str_segment.-simple_header .site_utility .btn a .icon_window {
	width: 11px;
}

#page_header .str_segment.-simple_header .site_utility .btn .icon_tell a span::before {
	width: 18px;
	height: 18px;
	background: url(/_common/images/header/ico-phone.png) no-repeat center;
	background-size: 100%;
	image-rendering: -webkit-optimize-contrast;
}

#page_header .str_segment.-simple_header .site_utility .btn .icon_shop a span::before {
	width: 16px;
	height: 18px;
	background: url(/_common/images/header/ico-shop.png) no-repeat center;
	background-size: 100%;
	image-rendering: -webkit-optimize-contrast;
}

#page_header .str_segment.-simple_header .site_utility .region {
	display: table;
}

#page_header .str_segment.-simple_header .site_utility .region li {
	display: table-cell;
	vertical-align: middle;
}

#page_header .str_segment.-simple_header .site_utility .region li a {
	display: inline-block;
	padding: 0 11px;
}

#page_header .str_segment.-simple_header .site_utility .region li a:hover,
#page_header .str_segment.-simple_header .site_utility .region li a:focus,
#page_header .str_segment.-simple_header .site_utility .region li a:active {
	color: #cc0d21;
}

#page_header .str_segment.-site_nav {
	position: relative;
	/*framgia*/
	z-index:100
}

#page_header .str_segment.-site_nav::after {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 1px;
	content: "";
	background: #e5e5e5;
}

#page_header .str_segment.-site_nav .site_nav > ul {
	position: relative;
}

#page_header .str_segment.-site_nav .site_nav > ul > li {
	margin-bottom: 20px;
}

#page_header .str_segment.-site_nav .site_nav > ul > li.is_current > a {
	text-decoration: none;
	color: #cc0d21;
}

#page_header .str_segment.-site_nav .site_nav > ul > li > a {
	font-size: 1.4em;
	display: block;
	padding: 0 10px 13px;
	text-align: center;
	color: #333;
}

#page_header .str_segment.-site_nav .site_nav > ul > li > a:hover,
#page_header .str_segment.-site_nav .site_nav > ul > li > a:focus,
#page_header .str_segment.-site_nav .site_nav > ul > li > a:active {
	text-decoration: none;
	color: #cc0d21;
}

#page_header .str_segment.-site_nav .site_nav > ul > li > a span {
	display: inline-block;
}

#page_header .str_segment.-site_nav .site_nav > ul > li > a::after {
	position: absolute;
	bottom: calc(50% + 6px);
	left: 0;
	display: block;
	width: 1px;
	height: 2.25em;
	content: "";
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
	background: #b5b5b5;
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_strong.is_current {
	border-bottom: solid 2px #fff;
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_strong.is_current > a {
	position: relative;
	z-index: 1;
	color: #cc0d21;
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_strong.is_current.is_open {
	border-bottom: solid 2px #fff;
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_strong > a {
	font-size: 2em;
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_strong > a:hover,
#page_header .str_segment.-site_nav .site_nav > ul .-nav_strong > a:focus,
#page_header .str_segment.-site_nav .site_nav > ul .-nav_strong > a:active {
	position: relative;
	z-index: 1;
	color: #cc0d21;
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_strong > a::after {
	bottom: calc(50% + 4px);
	height: 1.55em;
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_strong > a span {
	position: relative;
	display: inline-block;
	bottom: -3px;
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_strong > a span::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 50%;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_strong.icon_kokunai > a span {
	padding-left: 34px;
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_strong.icon_kokunai > a span::before {
	width: 25px;
	height: 24px;
	background: url(/_common/images/header/ico-kokunai.png) no-repeat center;
	background-size: 100%;
	image-rendering: -webkit-optimize-contrast;
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_strong.icon_kaigai > a span {
	padding-left: 28px;
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_strong.icon_kaigai > a span::before {
	width: 20px;
	height: 24px;
	background: url(/_common/images/header/ico-kaigai.png) no-repeat center;
	background-size: 100%;
	image-rendering: -webkit-optimize-contrast;
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_em {
	padding-left: 75px;
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_em.is_current > a {
	text-shadow: none;
	color: #cc0d21;
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_em.is_current > a span {
	color: #cc0d21;
	border-bottom-color: #b5b5b5;
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_em a:hover,
#page_header .str_segment.-site_nav .site_nav > ul .-nav_em a:focus,
#page_header .str_segment.-site_nav .site_nav > ul .-nav_em a:active {
	text-shadow: none;
	color: #cc0d21;
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_em a:hover span,
#page_header .str_segment.-site_nav .site_nav > ul .-nav_em a:focus span,
#page_header .str_segment.-site_nav .site_nav > ul .-nav_em a:active span {
	color: #cc0d21;
	border-bottom-color: #b5b5b5;
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_em a span {
	display: inline-block;
	padding: 3px 21px;
	border: 1px solid #b5b5b5;
	border-radius: 3px;
	background: #fff;
	white-space: nowrap;
}

#page_header .str_segment.-site_nav .site_nav > ul .-nav_em a::after {
	display: none;
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav > ul {
	z-index: 999999;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	align-items: baseline;
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav > ul > li {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	-webkit-flex-basis: 0;
	flex-basis: 0;
	margin: 0;
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav > ul > li:last-child > a {
	padding-right: 0;
	text-align: right;
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav > ul > li:last-child > a > span {
	text-align: center;
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav > ul .-nav_strong {
	-webkit-box-flex: 1.13;
	-webkit-flex-grow: 1.13;
	flex-grow: 1.13;
}

#page_header .str_segment.-site_nav .site_nav > ul .dropdown_nav_item {
	position: static;
}

#page_header .str_segment.-site_nav .site_nav > ul .dropdown_nav_item > a {
	position: relative;
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav > ul .dropdown_nav_item.is_open > a {
	text-decoration: none;
	color: #cc0d21;
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav > ul .dropdown_nav_item.is_open .child_nav {
	display: block;
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav > ul .dropdown_nav_item.is_open.-nav_em > a {
	color: #333;
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav > ul .dropdown_nav_item.is_open.-nav_em > a span {
	border-bottom-color: #b5b5b5;
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav > ul .dropdown_nav_item.is_open.-nav_em .child_nav::before,
[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav > ul .dropdown_nav_item.is_open.-nav_em .child_nav::after {
	left: auto;
	right: 8.5%;
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav > ul .dropdown_nav_item.is_open.-nav_strong > a {
	color: #cc0d21;
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav > ul .dropdown_nav_item.is_open.-nav_strong.icon_kokunai .child_nav::before,
[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav > ul .dropdown_nav_item.is_open.-nav_strong.icon_kokunai .child_nav::after {
	left: 10%;
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav > ul .dropdown_nav_item.is_open.-nav_strong.icon_kaigai .child_nav::before,
[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav > ul .dropdown_nav_item.is_open.-nav_strong.icon_kaigai .child_nav::after {
	left: 29.8%;
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav .child_nav {
	position: absolute;
	z-index: 100;
	top: calc(100% - .3px);
	display: none;
	padding-top: 22px;
	border: 1px solid #dedede;
	background: #fff;
	box-shadow: 0 7px 9px -4px rgba(0, 0, 0, .4);
	margin-top: 10px;
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav .child_nav::before {
	position: absolute;
	top: -14px;
	left: calc(50% - 7px);
	display: block;
	width: 0;
	height: 0;
	content: "";
	border-width: 0 8.5px 14px 8.5px;
	border-style: solid;
	border-color: transparent transparent #dedede;
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav .child_nav::after {
	position: absolute;
	top: -12px;
	left: calc(50% - 7px);
	display: block;
	width: 0;
	height: 0;
	content: "";
	border-width: 0 8.5px 14px 8.5px;
	border-style: solid;
	border-color: transparent transparent #fff;
}

#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_body {
	padding: 8px 10px 10px;
}

#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_body .dropdown_nav_loading {
	font-size: 1.3em;
	width: 100%;
	margin: 80px 0;
	text-align: center;
}

#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_body .box > .link a {
	color: #333;
	position: relative;
}

#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_body .box > .link a:hover,
#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_body .box > .link a:focus,
#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_body .box > .link a:active {
	text-decoration: underline;
	color: #cc0d21;
}

#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_body .box > .link a:hover::before,
#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_body .box > .link a:focus::before,
#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_body .box > .link a:active::before {
	border-color: transparent transparent transparent #cc0d21;
}

#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_body .box > .link a::before {
	position: absolute;
	top: 1.15em;
	left: 5px;
	display: block;
	width: 0;
	height: 0;
	content: "";
	border-width: 3px 0 3px 4px;
	border-style: solid;
	border-color: transparent transparent transparent #999;
}

#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_foot .link {
	font-size: 1.6em;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: -8px 0 0 -8px;
}

#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_foot .link li {
	margin: 8px 0 0 8px;
	-webkit-flex-basis: calc(25% - 6px);
	flex-basis: calc(25% - 6px);
}

#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_foot .link a {
	position: relative;
	display: block;
	padding: 14px 20px 13px 45px;
	background: #f1f1f1;
	color: #125687;
	border: 1px solid #cbcbcb;
	border-radius: 6px;
	font-weight: bold;
}

#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_foot .link a:hover,
#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_foot .link a:focus,
#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_foot .link a:active {
	text-decoration: underline;
	color: #cc0d21;
	background: #f7f7f7;
}

#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_foot .link a:hover::before,
#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_foot .link a:focus::before,
#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_foot .link a:active::before {
	background-color: #cc0d21;
}

#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_foot .link a::before {
	display: block;
	width: 14px;
	height: 14px;
	content: "";
	border-radius: 50%;
	background: #125687 url(/_common/images/header/ico-arrow.png) no-repeat 60% center;
	background-size: 33.333333%;
	image-rendering: -webkit-optimize-contrast;
	position: absolute;
	left: 24px;
	top: 17px;
}

#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_foot .dropdown_nav_close {
	font-size: 1.3em;
	position: absolute;
	top: 6px;
	right: 10px;
	display: inline-block;
	cursor: pointer;
}

#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_foot .dropdown_nav_close span {
	position: relative;
	display: block;
	padding-left: 20px;
}

#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_foot .dropdown_nav_close span::before,
#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_foot .dropdown_nav_close span::after {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 0;
	display: block;
	width: 12px;
	height: 1px;
	content: "";
	background: #333;
}

#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_foot .dropdown_nav_close span::after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#page_header .str_segment.-site_nav .site_nav .child_nav .child_nav_foot .dropdown_nav_close span::before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide {
	left: 0;
	width: 100%;
	min-width: 950px;
	max-width: 1120px;
	margin-right: auto;
	margin-left: auto;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .child_nav_body > .inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 0;
	border-top: 1px solid #dedede;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .child_nav_foot .inner {
	padding: 0 12px 12px;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	overflow: hidden;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-flex-basis: 50%;
	flex-basis: 50%;
	width: 100%;
	margin: 0;
	padding: 4px 5px;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box:not(:nth-child(even)) {
	border-left: 1px solid #dedede;
}

.ie #page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box {
	-webkit-flex-basis: 48.76%;
	flex-basis: 48.76%;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .title {
	font-size: 1.6em;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flex-basis: 34.5%;
	flex-basis: 34.5%;
	min-height: 5.28em;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .title a {
	font-weight: bold;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	-webkit-flex-basis: auto;
	flex-basis: auto;
	padding: 10px;
	color: #125687;
	background: #f1f1f1;
	border-radius: 6px;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .title a:hover,
#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .title a:focus,
#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .title a:active {
	background: #f7f7f7;
	color: #cc0d21;
	text-decoration: none;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .title a:hover > p::before,
#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .title a:focus > p::before,
#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .title a:active > p::before {
	background-color: #cc0d21;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .title a:hover .main,
#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .title a:focus .main,
#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .title a:active .main {
	text-decoration: underline;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .title a:hover .sub,
#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .title a:focus .sub,
#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .title a:active .sub {
	color: #525252;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .title a > p {
	position: relative;
	padding-left: 20px;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .title a > p::before {
	display: block;
	width: 14px;
	height: 14px;
	content: "";
	border-radius: 50%;
	background: #125687 url(/_common/images/header/ico-arrow.png) no-repeat 60% center;
	background-size: 33.333333%;
	image-rendering: -webkit-optimize-contrast;
	position: absolute;
	left: 0;
	top: 3px;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .title .sub {
	font-size: .75em;
	font-weight: normal;
	display: block;
	margin-top: 3px;
	margin-left: -20px;
	color: #666;
}

@media (max-width: 970px) {
	#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .title .is_tab_hide {
		display: none;
	}
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .link {
	font-size: 1.2em;
	-webkit-flex-basis: 65.5%;
	flex-basis: 65.5%;
	padding: 4px 7px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.ie #page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .link {
	-webkit-flex-basis: 62%;
	flex-basis: 62%;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .link a {
	display: inline-block;
	padding-left: 18px;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .link a::before {
	top: .4em;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .link ul {
	margin: -5px 0 0 -8px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-flex-basis: 105%;
	flex-basis: 105%;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .link ul > li {
	-webkit-flex-basis: calc(33% - 8px);
	flex-basis: calc(33% - 8px);
	margin: 5px 0 0 8px;
}

@media (max-width: 970px) {
	#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .link ul > li {
		-webkit-flex-basis: calc(50% - 8px);
		flex-basis: calc(50% - 8px);
	}
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .link ul > li.wide {
	-webkit-flex-basis: 100%;
	flex-basis: 100%;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .link ul > li.semi-wide {
	-webkit-flex-basis: calc(66% - 8px);
	flex-basis: calc(66% - 8px);
}

@media (max-width: 970px) {
	#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > .link ul > li.semi-wide {
		-webkit-flex-basis: 100%;
		flex-basis: 100%;
	}
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-full_wide .box > *:only-child {
	border-radius: 6px;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last {
	border-bottom: 0;
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav .child_nav.-col2,
[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last {
	width: 482px;
	margin-left: -150px;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 > .inner,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last > .inner {
	padding: 0 10px 13px;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .child_nav_body,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .child_nav_body {
	margin-top: 8px;
	padding: 11px;
	border: 1px solid #e5e5e5;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link {
	font-size: 1.3em;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link ul,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link ul {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link ul::after,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link ul::after {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 1px;
	content: "";
	background: #fff;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link ul li,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link ul li {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flex-basis: 50%;
	flex-basis: 50%;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link ul li:nth-child(even) a,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link ul li:nth-child(even) a {
	padding-left: 33px;
	border-right: 0;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link ul li:nth-child(even) a::before,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link ul li:nth-child(even) a::before {
	left: 20px;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link ul li:nth-child(even) a::after,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link ul li:nth-child(even) a::after {
	display: none;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link ul li:first-child a,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link ul li:first-child a {
	border-top: 0;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link ul li:first-child + li a,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link ul li:first-child + li a {
	border-top: 0;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link ul a,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link ul a {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	-webkit-flex-basis: auto;
	flex-basis: auto;
	padding: 9px 10px 9px 30px;
	border-bottom: 1px solid #ececec;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link ul a::before,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link ul a::before {
	top: 1.12em;
	left: 17px;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link ul a::after,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link ul a::after {
	position: absolute;
	right: 0;
	bottom: 50%;
	display: block;
	width: 1px;
	height: 100%;
	content: "";
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
	background: #e5e5e5;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link .title,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link .title {
	font-size: 1.15385em;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link .title a,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link .title a {
	font-weight: bold;
	display: block;
	padding: 10px 10px 10px 33px;
	color: #125687;
	border-radius: 6px;
	background: #f1f1f1;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link .title a:hover,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link .title a:focus,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link .title a:active,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link .title a:hover,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link .title a:focus,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link .title a:active {
	color: #cc0d21;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link .title a:hover::after,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link .title a:focus::after,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link .title a:active::after,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link .title a:hover::after,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link .title a:focus::after,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link .title a:active::after {
	background-color: #cc0d21;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link .title a::before,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link .title a::before {
	display: none;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2 .box > .link .title a::after,
#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .box > .link .title a::after {
	display: block;
	width: 14px;
	height: 14px;
	content: "";
	border-radius: 50%;
	background: #125687 url(/_common/images/header/ico-arrow.png) no-repeat 60% center;
	background-size: 33.333333%;
	image-rendering: -webkit-optimize-contrast;
	position: absolute;
	left: 11px;
	top: 13px;
}

[data-script-enabled="true"] #page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last {
	right: 0;
	width: 320px;
	margin-left: 0;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .child_nav_body {
	padding: 0;
	border: none;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .child_nav_body .inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .child_nav_body .inner .box {
	padding: 9px 10px 0;
	border: 1px solid #e5e5e5;
	-webkit-align-self: baseline;
	align-self: baseline;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .child_nav_body .inner .box:first-child {
	width: 596px;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .child_nav_body .inner .box:last-child {
	margin-left: auto;
	width: 300px;
}

/*#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .child_nav_body .inner .box .link {
	padding-bottom: 10px;
}*/

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .child_nav_body .inner .box .link .title {
	margin-bottom: 10px;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .child_nav_body .inner .box .link li.wide {
	-webkit-flex-basis: 100%;
	flex-basis: 100%;
}

#page_header .str_segment.-site_nav .site_nav .child_nav.-col2_last .child_nav_body .inner .box .link li.wide a::after {
	display: none;
}

#page_header .str_segment.-local_nav {
	position: relative;
}

#page_header .str_segment.-local_nav::after {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 1px;
	content: "";
	background: #e5e5e5;
}

#page_header .str_segment.-local_nav .local_nav {
	font-size: 1.5em;
	text-align: center;
	display: none;
	position: relative;
}

#page_header .str_segment.-local_nav .local_nav.is_current {
	display: block;
}

#page_header .str_segment.-local_nav .local_nav > ul {
	display: table;
	width: 100%;
}

#page_header .str_segment.-local_nav .local_nav > ul > li {
	display: table-cell;
	padding: 0 2px;
	vertical-align: middle;
}

#page_header .str_segment.-local_nav .local_nav > ul > li:first-child {
	padding-left: 0;
}

#page_header .str_segment.-local_nav .local_nav > ul > li:last-child {
	padding-right: 0;
}

#page_header .str_segment.-local_nav .local_nav > ul > li.is_current a {
	color: #cc0d21;
}

#page_header .str_segment.-local_nav .local_nav > ul > li a {
	display: block;
	padding: 10px;
	color: #333;
}

#page_header .str_segment.-local_nav .local_nav > ul > li a:hover,
#page_header .str_segment.-local_nav .local_nav > ul > li a:focus,
#page_header .str_segment.-local_nav .local_nav > ul > li a:active {
	text-decoration: none;
	color: #cc0d21;
}

#page_header .str_segment.-local_nav .local_nav > ul > li a span {
	display: inline-block;
	text-align: left;
}

#page_footer {
	letter-spacing: .025em;
	line-height: 1.42857;
	font-family: Meiryo, "\30E1\30A4\30EA\30AA", Arial, sans-serif;
	font-size: 10px;
	text-align: left;
	word-break: break-word;
	color: #333;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}

#page_footer *,
#page_footer *::before,
#page_footer *::after {
	box-sizing: border-box;
}

#page_footer p {
	margin: 0;
	padding: 0;
}

#page_footer ul {
	margin: 0;
	padding: 0;
}

#page_footer ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#page_footer a {
	text-decoration: none;
	color: #125687;
	background-color: transparent;
}

#page_footer a:hover,
#page_footer a:focus,
#page_footer a:active {
	text-decoration: underline;
}

#page_footer a:hover img,
#page_footer a:focus img,
#page_footer a:active img {
	opacity: .7;
}

#page_footer a:not([href]):not([tabindex]) {
	text-decoration: none;
	color: inherit;
}

#page_footer a:not([href]):not([tabindex]):hover,
#page_footer a:not([href]):not([tabindex]):focus,
#page_footer a:not([href]):not([tabindex]):active {
	text-decoration: none;
	color: inherit;
}

#page_footer a:not([href]):not([tabindex]):focus {
	outline: 0;
}

#page_footer img {
	max-width: 100%;
	vertical-align: middle;
}

#page_footer b {
	font-weight: bold;
}

#page_footer em {
	font-weight: bold;
	font-style: normal;
}

#page_footer button {
	font-family: inherit;
	font-size: inherit;
	padding: 0;
	border: 0;
	border-radius: 0;
	background: none;
}

#page_footer button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

#page_footer button::-moz-focus-inner,
#page_footer [type="button"]::-moz-focus-inner,
#page_footer [type="reset"]::-moz-focus-inner,
#page_footer [type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

#page_footer a,
#page_footer button {
	touch-action: manipulation;
}

#page_footer [hidden] {
	display: none;
}

#page_footer [tabindex="-1"]:focus {
	outline: none;
}

#page_footer .icon_window {
	width: 13px;
	height: auto;
	margin-left: 5px;
	vertical-align: middle;
	image-rendering: -webkit-optimize-contrast;
}

#page_footer div,
#page_footer p,
#page_footer ul,
#page_footer ol {
	font-size: inherit;
}

#page_footer .link::before,
#page_footer .link_02::before {
	display: none;
}

#page_footer {
	margin-top: 100px;
}

#page_footer .str_segment {
	background: #fff;
	min-width: 970px;
}

#page_footer .str_outer {
	max-width: 1130px;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
}

#page_footer .icon_window {
	width: 11px;
	image-rendering: -webkit-optimize-contrast;
}

#page_footer .str_segment.-utility {
	color: #333;
	border-top: 1px solid #e1e1e1;
}

#page_footer .str_segment.-utility .str_inner {
	padding: 10px 0;
	position: relative;
	height: 100px;
	display: table;
	width: 100%;
}

#page_footer .str_segment.-utility .str_inner > *:only-child {
	padding-right: 0;
}

#page_footer .str_segment.-utility .site_nav {
	display: table-cell;
	vertical-align: middle;
	font-size: 1.3em;
	padding-right: 50px;
}

#page_footer .str_segment.-utility .site_nav > .inner:after {
	content: "";
	clear: both;
	display: block;
}

#page_footer .str_segment.-utility .site_nav li {
	display: inline-block;
	padding: 6px 0;
}

#page_footer .str_segment.-utility .site_nav li a {
	padding: 0 8px;
	border-right: 1px solid #ccc;
}

#page_footer .str_segment.-utility .site_nav li a:hover,
#page_footer .str_segment.-utility .site_nav li a:focus,
#page_footer .str_segment.-utility .site_nav li a:active {
	color: #cc0d21;
}

#page_footer .str_segment.-utility .site_nav .link_01 {
	float: left;
}

#page_footer .str_segment.-utility .site_nav .link_02 {
	float: left;
}

#page_footer .str_segment.-utility .site_nav .link_03 {
	float: left;
}

#page_footer .str_segment.-utility .site_nav .link_03 li:last-child a {
	border-right: 0;
}

#page_footer .str_segment.-utility .site_mark {
	position: absolute;
	right: 0;
	bottom: 50%;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
}

#page_footer .str_segment.-utility .site_mark img {
	width: 49px;
}

#page_footer .str_segment.-copyright {
	background: #f7f7f7;
	text-align: center;
	border-top: 1px solid #e1e1e1;
	color: #333;
	padding: 14px 0;
}

#page_footer .str_segment.-copyright .site_copyright {
	font-size: 1.3em;
}

#page_footer .str_segment.-copyright .site_copyright small {
	font-size: inherit;
}
#btnrightconfirm{
    width: 172px;
    text-align: left;
    padding-top: 4px
}
#underlineconfirm {
    border-bottom: 4px solid #CC0033;
    padding-bottom: 3px;
    width: 172px;
}

@media screen and (max-width: 767px) {
.site_copyright{width: 100vw;}
}



